<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 ">
        <div class="p-5">
            <div class="m-5">
              <form>
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    (change)="xmlParse($event)"
                  />
                  <label class="custom-file-label" for="customFile">{{fileName}}</label>
                </div>
              </form>
            </div>
          
            <div *ngIf="keys">
              <div class="form-group" *ngFor="let item of contract">
                <label>{{ item.key }}</label>
                <select class="form-control" [(ngModel)]="item.value">
                  <option *ngFor="let key of keys">{{ key }}</option>
                </select>
              </div>
              <div class="text-right">
                <button class="btn btn-primary" (click)="sendContract()">
                  Create contract
                </button>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>